# Python
__pycache__/
*.py[cod]
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env

# Docker
*.dockerfile

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node modules (Angular)
node_modules/

# Build
dist/
.angular/
