/* Component-specific styles - Most styles are in global styles.css */

:host {
  display: contents;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
